.about {
  margin-top: 1rem;
  display: flex;
  align-items: center;
}

.about__txt {
  /* background-color: rgba(170, 164, 157, 0.6); */
  background-image: linear-gradient(180deg,rgb(170, 164, 157), white);
  margin: auto;
  padding: 2rem 2rem;
  max-width: 425px;
  height: 80vh;
}