.catalog {
  display: flex;
  flex-direction: column;
}

.catalog__header {
  position: sticky;
  margin: auto;
  top: 4rem;
}

.catalog__header--h3 {
  margin-bottom: 1rem;
}

.catalog-img {
  width: 150px;
}