.nav {
  position: sticky;
  top: 0;
  display: flex;
  height: 4rem;
  align-items: center;
}

.nav__logo {
  margin-left: 1rem;
  align-self: flex-start;
  font-size: 2.5rem;
  top: 10px;
  left: 5px;
}

.nav--wide__btns {
  margin-left: auto;
  display: flex;
  width: 50%;
  justify-content: space-evenly;
  align-items: center;
}

/* .btn--lrg-screen {
  position: absolute;
  top: 22px;
} */

/* .btn--about {
  left: 195px;
}

.btn--catalog {
  left: 320px;
}

.btn--commissions {
  right: 275px;
}

.btn--contact {
  right: 150px;
} */

.btn__bold {
  font-weight: bolder;
}

.nav__btn {
  display: none;
}

.nav__btn--bold {
  font-weight: bold;
}

@media only screen and (max-width: 924px) {
  .nav {
    max-width: 425px;
    display: flex;
    /* align-items: center; */
    /* height: 3rem; */
  }

  .nav__logo {
    position: fixed;
    margin-left: 1rem;
    left: 0;
    font-size: 2.25rem;
  }
  
  .nav__btn {
    display: block;
    margin-right: 1rem;
    position: fixed;
    right: 0;
    top: 1.7rem;
  }

  .nav__menu {
    display: flex;
    flex-direction: column;
    top: 3rem;
    text-align: right;
    position: fixed;
    right: 0;
    margin-right: 1rem;
  }

  .btn--lrg-screen {
    display: none;
  }
}
