.nav {
  position: sticky;
  top: 0;
  display: flex;
  height: 4rem;
  align-items: center;
  justify-content: space-evenly;
  margin: auto;
}

.nav__logo {
  position: relative;
  left: 60px;
  margin: 0 2rem;
}

.btn--lrg-screen {
  position: absolute;
  top: 22px;
}

.btn--about {
  left: 195px;
}

.btn--catalog {
  left: 320px;
}

.btn--commissions {
  right: 275px;
}

.btn--contact {
  right: 150px;
}

.btn__bold {
  font-weight: bolder;
}

.nav__btn {
  display: none;
}

.nav__btn--bold {
  font-weight: bold;
}

/* .nav__menu {
  display: flex;
  flex-direction: column;
  top: 3rem;
  text-align: right;
} */

@media only screen and (max-width: 924px) {
  .nav {
    max-width: 425px;
    display: flex;
  }

  .nav__logo {
    left: 0;
    margin-left: 1rem;
    margin-right: auto;
    font-size: 2.25rem;
    position: relative;
  }
  
  .nav__btn {
    display: block;
    margin-right: 1rem;
    position: absolute;
    margin-left: auto;
    right: 0;
  }

  .nav__menu {
    display: flex;
    flex-direction: column;
    top: 3rem;
    text-align: right;
    position: fixed;
    right: 0;
    margin-right: 1rem;
  }

  .btn--lrg-screen {
    display: none;
  }
}
