.item-imgs {
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}

.item-img {
  width: 15rem;
  height: 20rem;
  object-fit: cover;
  margin: 0 1rem 1rem 0;
}

.item-txt {
  display: flex;
  flex-direction: column;
  text-align: right;
  margin: 0 1rem 3rem 2rem;
}

.item-txt__p {
  font-size: 9px;
}

.item-txt__btn {
  font-size: 9px;
  font-weight: bold;
  text-align: right;
  outline: none;
}
