.item-imgs {
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}

.item-img {
  width: 80%;
  padding: 0 50px;
  margin-bottom: 1rem;
}

.item-txt {
  display: flex;
  flex-direction: column;
  text-align: right;
  margin: 0 2rem 3rem 2rem;
}

.item-txt__p {
  font-size: 9px;
}

.item-txt__btn {
  font-size: 9px;
  font-weight: bold;
  text-align: right;
  outline: none;
}
