.item-imgs {
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}

.item-article {
  z-index: -1;
  display: flex;
  min-width: 20rem;
  height: 25rem;
  margin-right: 1rem;
}

.item-txt {
  display: flex;
  flex-direction: column;
  text-align: right;
  margin: 0 1rem 3rem 2rem;
}

.item-txt__p {
  font-size: 9px;
}

.item-txt__description {
  position: relative;
}

.item-txt__btn {
  font-size: 9px;
  font-weight: bold;
  text-align: right;
  outline: none;
}
