.form-section {
  margin: auto;
  max-width: 400px;
}

.form__intro {
  margin-bottom: 2rem;
}

.form {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.form__div {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.form__label {
  margin-right: auto;
}

.form__input {
  width: 80%;
  margin-left: auto;
}

.btn--submit {
  align-self: center;
  border: solid 1px rgb(170, 164, 157);
  width: 8rem;
  padding: 0.25rem;
  border-radius: 5px;
}

.btn--submit:hover {
  background-color:rgb(170, 164, 157);
  font-weight: bold;
  color: white;
  border: solid 1px black;
}